/**
 * Cyan Rice Wofi - Grid Optimized Style
 **/

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
  background-color: #050505;
  border: 1px solid #00ffff;
  border-radius: 10px;
}

#outer-box {
  margin: 5px;
}

#inner-box {
  margin: 5px;
}

#input {
  margin: 10px 15px;
  padding: 8px;
  border: 1px solid #005f5f;
  border-radius: 6px;
  color: #00ffff;
  background-color: #001a1a;
}

#input:focus {
  border: 1px solid #00ffff;
}

#scroll {
  margin: 5px;
}

#entry {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
}

#entry:selected {
  background-color: rgba(0, 255, 255, 0.1);
  border: 1px solid #00ffff;
}

#img {
  margin-left: auto;
  margin-right: auto;
}

#text {
  enabled: false;
  font-size: 0px;
}
